@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,700&family=Sen:wght@400;500;600;700;800&display=swap");

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Sen', sans-serif;
*/

:root {
  --rc: rgb(216, 5, 5);
  --gc: #4dbf00;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 50px;
}

.navbar-container {
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
}

.logo-container {
  flex: 1;
}

.logo {
  color: var(--rc);
  font-style: italic;
  font-weight: 700;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  align-items: center;
  color: aliceblue;
  list-style: none;
  font-family: "Sen", sans-serif;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: 700;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text-container {
  color: #fff;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.profile-text {
  margin-right: 2px;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: #000;
  border-radius: 50%;

  position: absolute;
  right: 1px;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: #000;
  color: #fff;

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}

.sidebar-menu-icon {
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: #fff;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  font-weight: bold;
  background-color: var(--gc);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-title {
  color: white;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  margin: 0 30px;
  transform: scale(1.2);
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-btn {
  opacity: 1;
}

.movie-list-item-img {
  border-radius: 10px;
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.movie-list-item-title {
  background-color: #1a1818;
  font-size: 30px;
  font-weight: bold;
  padding: 0 10px;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
}

.movie-list-item-desc {
  width: 230px;
  background-color: #1a1818;
  font-size: 12px;
  padding: 10px;

  position: absolute;
  top: 30%;
  left: 50px;

  opacity: 0;
}

.movie-list-item-btn {
  font-size: 15px;
  color: rgb(244, 238, 227);
  background-color: var(--gc);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;

  position: absolute;
  bottom: 20px;
  left: 50px;

  opacity: 0;
}

.arrow {
  color: lightgray;
  font-size: 120px;
  opacity: 0.5;

  position: absolute;
  right: 0;
  top: 90px;
}

.container.active {
  background-color: white;
}

.profile-text-container.active {
  color: black;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;
  color: black;
}

.sidebar.active {
  background-color: white;
  color: black;
}

.menu-list.active {
  color: black;
}

.toggle.active {
  background-color: rgb(11, 11, 11);
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-19px);
}

@media only screen and (max-width: 920px) {
  .menu-container {
    display: none;
  }
  .featured-desc {
    font-size: 12px;
  }
}
